@model ContactViewModel;
<!-- Start Breadcrumb
 ============================================= -->
<div class="breadcrumb-area shadow dark bg-fixed text-light" style="background-image: url(assets/img/banner/7.jpg);">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>@_localization.GetKey("Contact").Value</h1>
            </div>
        </div>
    </div>
</div>
<!-- End Breadcrumb -->
<!-- Start Contact Top Entry
============================================= -->
<div class="top-entry-area text-center">
    <div class="container">
        <div class="row">
            <div class="item-box">
                @foreach (var item in Model.Adresses)
                {
                    <!-- Single Item -->
                    <div class="col-md-4 single-item">
                        <div class="item">
                            <i class="fas fa-map-marked-alt"></i>
                            <h4>Ünvan</h4>
                            <p>
                                @item.Location
                            </p>
                        </div>
                    </div>
                    <!-- End Single Item -->
                    <!-- Single Item -->
                    <div class="col-md-4 single-item">
                        <div class="item">
                            <i class="fas fa-phone"></i>
                            <h4>Telefon</h4>
                            <h2>@item.Phone1</h2>
                        </div>
                    </div>
                    <!-- End Single Item -->
                    <!-- Single Item -->
                    <div class="col-md-4 single-item">
                        <div class="item">
                            <i class="fas fa-envelope-open"></i>
                            <h4>E-poçt</h4>
                            <p>
                                @item.Email
                            </p>
                        </div>
                    </div>
                    <!-- End Single Item -->
                }

            </div>
        </div>
    </div>
</div>
<!-- End Contact Top Entry -->
<div class="contact-area bg-gray text-center default-padding">
    <div class="container">
        <div class="row">
            <div class="contact-items">
                <div class="col-md-8 col-md-offset-2 contact-form">
                    <h2>Get in touch with us</h2>
                    <p>
                        Our next drew much you with rank. Tore many held age hold rose than our. She literature sentiments any contrasted. Set aware joy sense young now tears china shy.
                    </p>
                    <form id="contactForm" asp-controller="Contact" asp-action="SendMessage" method="POST" class="contact-form">

                        <div class="col-md-12">
                            <div class="row">
                                <div class="form-group">
                                    <input class="form-control" id="name" name="Name" placeholder="Ad Soyad" type="text">
                                    <span class="alert-error"></span>
                                </div>

                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input class="form-control" id="email" name="Email" placeholder="E-poçt*" type="email">
                                    <span class="alert-error"></span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input class="form-control" id="phone" name="Phone" placeholder="Telefon*" type="text">
                                    <span class="alert-error"></span>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-12">
                            <div class="row">
                                <div class="form-group comments">
                                    <textarea class="form-control" id="comments" name="comments" placeholder="Mesaj yazın... *"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="row">
                                <button type="submit" name="submit" id="submit">
                                    Göndər <i class="fa fa-paper-plane"></i>
                                </button>
                            </div>
                        </div>
                       
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Contact-->
<!-- Start Google Maps
============================================= -->
<div class="maps-area">
    <div class="container-full">
        <div class="row">
            <div class="google-maps">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3038.4088391866326!2d49.807822075826344!3d40.399792871442365!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x403087784caec1dd%3A0x2fc55e120d8f8753!2sRespublika%20Diaqnostika%20M%C9%99rk%C9%99zi!5e0!3m2!1saz!2s!4v1733396722965!5m2!1saz!2s" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </div>
    </div>
</div>
<!-- End Google Maps -->
@section Scripts {
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script>
        $(document).ready(function () {
                            $("#contactForm").on("submit", function (e) {
                        e.preventDefault();

                                $.ajax({
                                    type: "POST",
                                    url: '@Url.Action("SendMessage", "Contact")',
                                    data: $(this).serialize(),
                                    success: function (response) {
                                        if (response.isSuccess) {
                                            Swal.fire({
                                                title: 'Təşəkkürlər',
                                                text: 'Mesaj uğurla göndərildi, sizinlə tezliklə əlaqə saxlanılacaq',
                                                icon: 'success',
                                                confirmButtonText: 'Oldu'
                                            });
                                                     $("#contactForm")[0].reset();
                                        } else {
                                            Swal.fire({
                                                title: 'Oops',
                                                text: 'Mesaj göndərilmədi! Məlumatların doğruluğunu yoxlayın.',
                                                icon: 'error',
                                                confirmButtonText: 'Yenidən cəhd et'
                                            });
                                        }
                                    },
                                    error: function () {
                                        Swal.fire({
                                                    title: 'Oops',
                                                        text: 'Mesaj göndərilmədi! Məlumatların doğruluğunu yoxlayın.',
                                                        icon: 'error',
                                                        confirmButtonText: 'Yenidən cəhd et'
                                        });
                                    }
                                });
                            });
                        });
    </script>
}

