@model AboutViewModel

<!-- Start Breadcrumb
  ============================================= -->
<div class="breadcrumb-area shadow dark bg-fixed text-light" style="background-image: url(assets/img/banner/12.jpg);">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h1>About Us</h1>
            </div>
            <div class="col-md-6 text-right">
                <ul class="breadcrumb">
                    <li><a href="#"><i class="fas fa-home"></i> Home</a></li>
                    <li><a href="#">Pages</a></li>
                    <li class="active">About</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- End Breadcrumb -->

<!-- Start About
    ============================================= -->
<div class="chose-us-area">
    <div class="container-full">
        <div class="row">
            <div class="col-md-6 thumb bg-cover" style="background-image: url(assets/img/banner/6.jpg);"></div>
            <div class="col-md-6 info">
                <div class="heading">
                    <h2>Why Chose us</h2>
                    <p>
                        Offering confined entrance no. Nay rapturous him see something residence. Highly talked do so vulgar. Her use behaved spirits and natural attempt say feeling. Exquisite mr incommode immediate he something ourselves it of. Law conduct yet chiefly beloved examine village proceed
                    </p>
                </div>
                <ul>
                    <li>
                        <div class="info">
                            <h4>Qualified facilities</h4>
                            <p>
                                Consider may dwelling old him her surprise finished families graceful. Gave led past poor met fine was new.
                            </p>
                        </div>
                    </li>
                    <li>
                        <div class="info">
                            <h4>Top Level Doctors</h4>
                            <p>
                                Consider may dwelling old him her surprise finished families graceful. Gave led past poor met fine was new.
                            </p>
                        </div>
                    </li>
                    <li>
                        <div class="info">
                            <h4>Dedicated patient care</h4>
                            <p>
                                Consider may dwelling old him her surprise finished families graceful. Gave led past poor met fine was new.
                            </p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<!-- Start Services
============================================= -->
<div class="services-area inc-icon bg-gray carousel-shadow default-padding bottom-less">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="site-heading text-center">
                    <h2>Centres of <span>Excellence</span></h2>
                    <p>
                        While mirth large of on front. Ye he greater related adapted proceed entered an. Through it examine express promise no. Past add size game cold girl off how old
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="services-items text-center">
                <!-- Single Item -->
                <div class="col-md-4 col-sm-6 equal-height">
                    <div class="item">
                        <div class="info">
                            <h4>
                                <a href="#">Body Surgery</a>
                            </h4>
                            <div class="overlay">
                                <i class="flaticon-medical"></i>
                            </div>
                            <p>
                                Attachment astonished to on appearance imprudence so collecting in excellence. Tiled way blind lived whose new. The for fully had she there leave merit enjoy forth.
                            </p>
                            <a class="btn btn-theme border circle btn-md" href="#">Read More</a>
                        </div>
                    </div>
                </div>
                <!-- End Single Item -->
                <!-- Single Item -->
                <div class="col-md-4 col-sm-6 equal-height">
                    <div class="item">
                        <div class="info">
                            <h4>
                                <a href="#">Dental Care</a>
                            </h4>
                            <div class="overlay">
                                <i class="flaticon-anesthesia"></i>
                            </div>
                            <p>
                                Attachment astonished to on appearance imprudence so collecting in excellence. Tiled way blind lived whose new. The for fully had she there leave merit enjoy forth.
                            </p>
                            <a class="btn btn-theme border circle btn-md" href="#">Read More</a>
                        </div>
                    </div>
                </div>
                <!-- End Single Item -->
                <!-- Single Item -->
                <div class="col-md-4 col-sm-6 equal-height">
                    <div class="item">
                        <div class="info">
                            <h4>
                                <a href="#">Eye Care</a>
                            </h4>
                            <div class="overlay">
                                <i class="flaticon-anatomy"></i>
                            </div>
                            <p>
                                Attachment astonished to on appearance imprudence so collecting in excellence. Tiled way blind lived whose new. The for fully had she there leave merit enjoy forth.
                            </p>
                            <a class="btn btn-theme border circle btn-md" href="#">Read More</a>
                        </div>
                    </div>
                </div>
                <!-- End Single Item -->
                <!-- Single Item -->
                <div class="col-md-4 col-sm-6 equal-height">
                    <div class="item">
                        <div class="info">
                            <h4>
                                <a href="#">Blood Cancer</a>
                            </h4>
                            <div class="overlay">
                                <i class="flaticon-lung-cancer"></i>
                            </div>
                            <p>
                                Attachment astonished to on appearance imprudence so collecting in excellence. Tiled way blind lived whose new. The for fully had she there leave merit enjoy forth.
                            </p>
                            <a class="btn btn-theme border circle btn-md" href="#">Read More</a>
                        </div>
                    </div>
                </div>
                <!-- End Single Item -->
                <!-- Single Item -->
                <div class="col-md-4 col-sm-6 equal-height">
                    <div class="item">
                        <div class="info">
                            <h4>
                                <a href="#">Neurology Sargery</a>
                            </h4>
                            <div class="overlay">
                                <i class="flaticon-thinking"></i>
                            </div>
                            <p>
                                Attachment astonished to on appearance imprudence so collecting in excellence. Tiled way blind lived whose new. The for fully had she there leave merit enjoy forth.
                            </p>
                            <a class="btn btn-theme border circle btn-md" href="#">Read More</a>
                        </div>
                    </div>
                </div>
                <!-- End Single Item -->
                <!-- Single Item -->
                <div class="col-md-4 col-sm-6 equal-height">
                    <div class="item">
                        <div class="info">
                            <h4>
                                <a href="#">Traumatology</a>
                            </h4>
                            <div class="overlay">
                                <i class="flaticon-medicine"></i>
                            </div>
                            <p>
                                Attachment astonished to on appearance imprudence so collecting in excellence. Tiled way blind lived whose new. The for fully had she there leave merit enjoy forth.
                            </p>
                            <a class="btn btn-theme border circle btn-md" href="#">Read More</a>
                        </div>
                    </div>
                </div>
                <!-- End Single Item -->
            </div>
        </div>
    </div>
</div>
<!-- End Services -->
<!-- Start Why Chose Us
============================================= -->

<!-- End Why Chose Us -->
<!-- Start Doctors
============================================= -->
<div class="doctor-area default-padding bottom-less">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="site-heading text-center">
                    <h2><span>@_localization.GetKey("Team").Value</span></h2>
                    <p>
                        Komandamızla tanış olun
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="doctor-items text-center">

                @foreach (var item in Model.TeamBoards)
                {
                    <div class="col-md-4 equal-height">
                        <div class="item">
                            <div class="thumb">
                                <img src="@item.PhotoUrl" alt="Thumb">

                                <div class="social">
                                    <ul>
                                        <li class="facebook">
                                            <a href="@item.FacebookUrl"><i class="fab fa-facebook-f"></i></a>
                                        </li>
                                        <li class="instagram">
                                            <a href="@item.InstagramUrl"><i class="fab fa-instagram"></i></a>
                                        </li>
                                        <li class="linkedin">
                                            <a href="@item.LinkedinUrl"><i class="fab fa-linkedin-in"></i></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="info">
                                <h4>@item.Name @item.Surname</h4>
                                <h5>@item.Profession</h5>

                            </div>
                        </div>
                    </div>
                }

                <!-- End Doctors -->
