@model AboutViewModel

<!-- Start Breadcrumb
  ============================================= -->
<div class="breadcrumb-area shadow dark bg-fixed text-light" style="background-image: url(assets/img/banner/12.jpg);">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h1>@_localization.GetKey("About").Value</h1>
            </div>
        </div>
    </div>
</div>
<!-- End Breadcrumb -->
<!-- Start top services
============================================= -->
<div class="top-services-area default-padding-bottom default-padding-top">
    <div class="services-area inc-icon carousel-shadow default-padding-bottom">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <div class="site-heading text-center">
                        <h2><span>@_localization.GetKey("Service").Value</span></h2>
                        <p>
                            Sizin üçün xüsusi olaraq hazırladığımız ən yüksək standartlara uyğun şəkildə təqdim etdiyimiz peşəkar xidmətlər
                        </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="services-items text-center services-carousel owl-carousel owl-theme"
                    <!-- Single Item -->
                        @foreach (var item in Model.Services)
                        {
                                     <div class="item">
                                <div class="info" ;">
                                    <h4>
                                        <a href="#">@item.Title</a>
                                    </h4>
                                    <div style="border-radius: 100%; width:100px; height:100px; overflow:hidden; margin-left:auto; margin-right:auto">
                                           <img src="@item.PhotoUrl" width="100px" />
                                     </div>
                                    <p>
                                        @item.Description
                                    </p>
                                    <a class="btn btn-theme border circle btn-md" href="#">@_localization.GetKey("ReadMore").Value</a>
                                </div>
                            </div>
                        }

                    <!-- End Single Item -->

                </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Services -->
    <!-- Start Why Chose Us
    ============================================= -->
    <div class="chose-us-area">
        <div class="container-full">
            <div class="row">


                @foreach (var whyUs in Model.WhyUs)
                {

                    <div class="col-md-6 thumb bg-cover" style="background-image: url(@whyUs.PhotoUrl);"></div>
                    <div class="col-md-6 info">
                        <div class="heading">
                            <h2>@_localization.GetKey("WhyUs").Value</h2>
                            <p>
                                @whyUs.Header
                            </p>
                        </div>

                        <ul>
                            @foreach (var item in Model.WhyUsItems)
                            {
                                <li>
                                    <div class="info">
                                        <h4>@item.Title</h4>
                                        <p>
                                            @item.Description
                                        </p>
                                    </div>
                                </li>
                            }


                        </ul>
                    </div>
                }
            </div>
        </div>
    </div>
    <!-- End Why Chose Us -->
    <!-- Start Doctors
    ============================================= -->
    <div class="doctor-area default-padding bottom-less">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <div class="site-heading text-center">
                        <h2><span>@_localization.GetKey("Team").Value</span></h2>
                        <p>
                            Komandamızla tanış olun
                        </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="doctor-items text-center">

                    @foreach (var item in Model.TeamBoards)
                    {
                        <div class="col-md-4 equal-height">
                            <div class="item">
                                <div class="thumb">
                                    <img src="@item.PhotoUrl" alt="Thumb">

                                    <div class="social">
                                        <ul>
                                            <li class="facebook">
                                                <a href="@item.FacebookUrl"><i class="fab fa-facebook-f"></i></a>
                                            </li>
                                            <li class="instagram">
                                                <a href="@item.InstagramUrl"><i class="fab fa-instagram"></i></a>
                                            </li>
                                            <li class="linkedin">
                                                <a href="@item.LinkedinUrl"><i class="fab fa-linkedin-in"></i></a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="info">
                                    <h4>@item.Name @item.Surname</h4>
                                    <h5>@item.Profession</h5>

                                </div>
                            </div>
                        </div>
                    }

                    <!-- End Doctors -->
