@model List<CategoryDto>;


<div class="container-fluid">
    <div class="card shadow mb-4">
        <div class="card-body">
            <div class="table-responsive">
                <form action="Category/Create" method="get">
                    <p>
                        <button class="btn btn-primary">Əlavə et</button>
                    </p>
                </form>
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Kateqoriya adı</th>
                            <th>Ikon qısa yolu</th>
                            <th style="width:30px;"></th>  
                            <th style="width:15px;"></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.Name</td>
                                <td>@item.IconName</td>
                                <td>

                                    <a asp-action="Edit" asp-route-id="@item.Id">
                                        <i class="fa-solid fa-pen-to-square"></i>
                                    </a> |
                                    <a item-value="@item.Id" item-title="@item.Name" class="btnSoftDelete" style="color:green">
                                        <i class="fas fa-trash"></i>
                                    </a>
                                </td> 
                                <td>
                                    <a item-value="@item.Id" item-title="@item.Name" class="btnHardDelete" style="color:red">
                                        <i class="fas fa-trash"></i>
                                    </a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        $(".btnSoftDelete").click(function (e) {
            Swal.fire({
                title: 'Əminsiniz?',
                text: "Kateqoriya zibil qutusuna köçrüləcək!",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonText: "Ləğv et",
                cancelButtonColor: '#d33',
                confirmButtonText: 'Təsdiq et '
            }).then((result) => {
                if (result.isConfirmed) {
                    let itemId = e.currentTarget.attributes[0].value;
                    let itemTitle = e.currentTarget.attributes[1].value;
                    $.ajax({
                        method: "POST",
                        url: "category/softdelete/",
                        data: {
                            id: itemId
                        }
                    })
                    Swal.fire({
                        title: 'Məlumat uğurla zibil qutusuna köçrüldü',
                        text: "'" + itemTitle + "' uğurla zibil qutusuna köçrüldü",
                        icon: 'success',

                    }).then((result) => {
                        window.location = "category"
                    })

                }
            })
        })
    </script>
    <script>
        $(".btnHardDelete").click(function (e) {
            Swal.fire({
                title: 'Əminsiniz?',
                text: "Bu kateqoriya bir dəfəlik silinəcək!",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonText: "Ləğv et",
                cancelButtonColor: '#d33',
                confirmButtonText: 'Təsdiq et '
            }).then((result) => {
                if (result.isConfirmed) {
                    let itemId = e.currentTarget.attributes[0].value;
                    let itemTitle = e.currentTarget.attributes[1].value;
                    $.ajax({
                        method: "POST",
                        url: "category/harddelete/",
                        data: {
                            id: itemId
                        }
                    })
                    Swal.fire({
                        title: 'Məlumat silindi',
                        text: "'" + itemTitle + "' uğurla silindi",
                        icon: 'success',

                    }).then((result) => {
                        window.location = "category"
                    })

                }
            })
        })
    </script>
    }

